        body {
            margin: 0;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            font-family: Verdana, Geneva, sans-serif;
        }
        
        #map {
            width: 100%;
            height: 100%;
        }
        
        .hidden {
            display: none;
        }
        
        div.tooltip {
            color: #222;
            background-color: #fff;
            padding: .5em;
            text-shadow: #f5f5f5 0 1px 0;
            border-radius: 2px;
            opacity: 0.9;
            position: absolute;
        }
        
        .hiddenLine {
            display: none;
        }
        
        .ring {
            fill: none;
            stroke: #c7141a;
        }
        
        .wrap {
            text-align: center;
            margin-bottom: 15px;
            margin-top: 15px;
        }
        
        .left {
            float: left;
            /*font-family: Verdana, Geneva, sans-serif;*/
            font-size: 18px;
            margin-top: 10px;
            margin-left: 15px;
        }
        
        .right {
            float: right;
            /*font-family: Verdana, Geneva, sans-serif;*/
            font-size: 18px;
            margin-top: 10px;
            margin-right: 15px;
        }
        
        .center {
            /*font-family: Verdana, Geneva, sans-serif;*/
            font-size: 20px;
            margin: 0 auto !important;
            display: inline-block;
        }
        
        img {
            vertical-align: middle;
        }
        
        legend rect {
            fill: white;
            stroke: black;
            opacity: 0.8;
        }
        
        .ui-dialog>.ui-widget-header {
            background: white;
            color: teal;
            font-size: 18px;
        }